* {
    font-family: times;
    color: #ffffff;
    text-align: justify;
}

header {
    /*background-color:blueviolet;*/
}

#charactersLink {
    color: yellow;
    font-weight: 500;
    font-size: larger;
}

a {
    color: yellow;
    font-weight: 700;
    font-size: larger;
}

p {
    font-size: larger;
}

body {
    background-image: linear-gradient(to bottom right, #5648da, #00124b);
}

h1 {
    text-align: center;
    font-weight: bolder;
    font-size: xxx-large;
}

h2 {
    text-align: center;
}

h4 {
    font-weight: bolder;
    font-size: x-large;
}

label {
    font-weight: bolder;
    font-size: larger;
}

textarea {
    vertical-align: top;
}

#cover {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

video {
    width: 100%;
}

::placeholder {
    color: black;
    font-size: larger;
}

option {
    color: #000;
}

footer {
    margin: auto;
}

th {
    text-align: center;
    font-weight: bolder;
}

td {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

dt {}

dd {
    font-size: large;
    font-style: italic;
}

table,
th,
td {
    border-color: white;
    border-style: solid;
    border-width: 3px;
    border-collapse: collapse;

}

#Personajes_Principales_table {
    background-color: #7b16ee;
}

#Aguilas_Negras_table {
    background-color: #ca0e0e;
}

#Leones_Azules_table {
    background-color: #2020f0;
}

#Ciervos_Dorados_table {
    background-color: #696c08;
}

#Lobos_Plateados_table {
    background-color: #4f4e50;
}

#Iglesia_de_Seiros_table {
    background-color: #134a10;
}



#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    border: 1px solid #555;
}

#menu li a {
    display: block;
    color: #ffffff;
    padding: 8px 16px;
    text-decoration: none;
}

#menu li {
    text-align: center;
    border-bottom: 1px solid #555;
}

#menu li:last-child {
    border-bottom: none;
}

#menu li a.active {
    background-color: #04AA6D;
    color: white;
}

#menu li a:hover:not(.active) {
    background-color: #071c62;
    color: white;
}